In [1]:
import pandas as pd

train = pd.read_csv('titanic/train.csv')
test = pd.read_csv('titanic/test.csv')

In [21]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,147,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,81,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,147,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,55,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,147,2

In [9]:
from sklearn.preprocessing import LabelEncoder

encode = LabelEncoder()

train['Sex'] = encode.fit_transform(train['Sex'])
test['Sex'] = encode.fit_transform(test['Sex'])

train['Cabin'] = encode.fit_transform(train['Cabin'])
test['Cabin'] = encode.fit_transform(test['Cabin'])

train['Embarked'] = encode.fit_transform(train['Embarked'])
test['Embarked'] = encode.fit_transform(test['Embarked'])

train = train.dropna(axis=0)
test = test.drop(columns=['Name','Ticket'])

In [12]:
x_train = train.drop(columns=['Survived','Name','Ticket'])
y_train = train['Survived']

x_train.head()
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [14]:
from sklearn.ensemble import HistGradientBoostingClassifier

model1 = HistGradientBoostingClassifier()
model1.fit(x_train,y_train)

predict1 = model1.predict(test)

In [17]:
actual = pd.read_csv('titanic/gender_submission.csv')

In [19]:
model1.score(test,actual['Survived'])

0.8636363636363636

In [22]:
from sklearn import metrics

print(metrics.precision_score(actual['Survived'], predict1), metrics.recall_score(actual['Survived'], predict1))

0.8104575163398693 0.8157894736842105